#CurrentProducts details {
    /*margin-left: 15px;
    padding-left: 15px;*/
}

div.editLink {
    display: inline-block;
    float: right;
}

li.releaseDetails {
    border: 1px dotted transparent;
    border-radius: 1px;
    transition: border-color var(--transition-time) ease-out, border-radius var(--transition-time) ease-out, background-color var(--transition-time) ease-out;
}

li.releaseDetails:hover,
li.releaseDetails:focus,
li.releaseDetails:active {
    background-color: var(--mild-alternating-color);
    border-radius: 5px;
    border-color: black;
}

li.releaseDetails > details {
    border-radius: 3px;
    border: 1px dotted black;
}

li.releaseDetails > details > summary > section:first-of-type {
    min-width: 60vw;
    width: 65%;
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: 12em 10em 10em auto;
}

li.releaseDetails > details > summary > section > div {
    border: 1px solid black;
    text-align: center;
}

li.releaseDetails > details > summary > section > div:last-child {
    /*border-right: none;*/
}

li.releaseDetails > details > summary > section > div[data-risk-level] {
    /*border-left: 10px outset;*/
}

li.releaseDetails div[data-risk-level="Green"] {
    background-color: green;
}

li.releaseDetails div[data-risk-level="Yellow"] {
    background-color: yellow;
}

li.releaseDetails div[data-risk-level="Red"] {
    background-color: red;
}

table {
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    padding: 15px;
    text-align: left;
}

th {
    text-align: center;
}

td {
    overflow: hidden;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

a[href^="mailto"]:hover::after {
    content: "\f0e0";
    position: relative;
    left: -3px;
}
